<!-- Upload Product Catalogue -->

<!-- Image and text -->
<app-sub-supplier-navbar></app-sub-supplier-navbar>

<section class="sing_in_sec">
  <div class="container-fluid pl-0">
    <div class="row mx-0">
      <div class="col-lg-6 pl-0">
        <app-sidbar-image [imageAddress]="imageAddress" [heading]="heading"></app-sidbar-image>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="sing_in_sec_form py-5">
          <p class="font-400 font-20 my-4 pr-4">
            Tower 1, 19th Floor, Indiabulls Finance Center
            Senapati Bapat Marg, Elphinstone Road (W)
            Mumbai Maharashtra - 400013
          </p>
          <p class="font-400 font-20 my-4">
            Email Us At : <span class="font-700 font-22 ml-1">helpme@yaari.com</span>
          </p>
          <p class="font-400 font-20 my-4">
            Call Us At :  <span class="font-700 font-22 ml-1">1800 256 2657</span>
          </p>
          <hr>
          <p class="font-400 font-20 my-4 pr-4">
            Indiabulls Integrated Services Limited
            CIN: L51101DL2007PLC166209
          </p>
          <p class="font-400 font-20 my-4 pr-4">
            Registered office: Plot No. 448-451, Udyog Vihar,
            Phase-V, Gurugram-122016
          </p>
          <ul class="sup_contact_us_ul_social_lks pt-5 mt-5 pl-0 d-flex justify-content-end w-100">
            <li class="float-left px-4">
              <a href="javaScript:void(0)">
                <img src="assets/images/fb_icon.png" class="img-fluid">
              </a>
            </li>
            <li class="float-left px-4">
              <a href="javaScript:void(0)">
                <img src="assets/images/insta_icon.png" class="img-fluid">
              </a>
            </li>
            <li class="float-left px-4">
              <a href="javaScript:void(0)">
                <img src="assets/images/twitter_icon.png" class="img-fluid">
              </a>
            </li>
            <li class="float-left px-4">
              <a href="javaScript:void(0)">
                <img src="assets/images/youtube_icon.png" class="img-fluid">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
