<!-- Upload Product Catalogue -->
<app-supplier-navbar></app-supplier-navbar>

<section class="sing_in_sec">
  <div class="container-fluid pl-0">
    <div class="row mx-0">
      <div class="col-lg-6 pl-0">
        <app-sidbar-image  [imageAddress]="imageAddress" [heading]="heading"></app-sidbar-image>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="sing_in_sec_form py-5">
          <form>            
            <div class="form-group mb-5">
              <div class="row mx-0">
                <div class="col-lg-4 pl-0 pr-2">
                  <label class="font-500 text-dark font-18">Collection</label>
                  <select class="form-control p-3">
                    <option *ngFor="let collection of collectionList" [value]="collection.name">{{collection.name}}</option>
                  </select>
                </div>
                <div class="col-lg-4 pl-0 pr-2">
                  <label class="font-500 text-dark font-18">Category</label>
                  <select class="form-control p-3">
                    <option *ngFor="let category of categoryList" [value]="category.name">{{category.name}}</option>
                  </select>
                </div>
                <div class="col-lg-4 pr-0 pl-2">
                  <label class="font-500 text-dark font-18">Sub-Category</label>
                  <select class="form-control p-3">
                    <option *ngFor="let subCategory of subCategoryList" [value]="subCategory.name">{{subCategory.name}}</option>
                  </select>
                </div>
                <div class="col-lg-12 pr-0 pl-2 text-center mt-4">
                  <button type="submit" class="btn btn-theme px-5 w-50 py-3 font-18">Download</button>
                </div>
              </div>
            </div>  

            <div class="form-group mb-5">
              <div class="drop-zone">
                <span class="material-icons d-block">add_a_photo</span>

                  <span class="drop-zone__prompt d-block mt-5 pt-4">Drag files here or choose browse to select files</span>
                  <input type="file" name="myFile"  class="drop-zone__input">
               
              </div>
            </div>
            
            <div class="form-group mb-5">
              <div class="row mx-0">
                <div class="col-lg-6 pl-0 pr-2">
                  <button type="submit" class="btn btn-theme-border px-5 w-100 py-3 font-18">Browse</button>
                </div>
                <div class="col-lg-6 pr-0 pl-2">
                  <button type="submit" class="btn btn-theme px-5 w-100 py-3 font-18">Upload</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
