
<!-- Sign IN -->

<app-supplier-navbar></app-supplier-navbar>


<section class="sing_in_sec">
  <div class="container-fluid pl-0">
    <div class="row mx-0">
      <div class="col-lg-6 pl-0">
        <app-sidbar-image [imageAddress]="imageAddress" [heading]="heading"></app-sidbar-image>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="sing_in_sec_form">
          <div class="main_title_dv d-inline-block py-5 w-100">
            <h1 class="font-600 mb-4 text-dark title_main position-relative d-inline-block mat-display-2">
              Change Password
            </h1>
          </div>
          <form [formGroup]="changePassword" (submit)="onChangePassword()">
            <!-- <div class="form-group mb-4">
                <label class="font-500 text-dark font-18" for="exampleInputPassword1">Old Password</label>
                <input [type]="oldpassType" class="form-control p-3" id="exampleInputPassword1" formControlName="oldPassword" 
                (keyup)="validateFormField('oldPassword')" placeholder="Enter Your Password">
                <span class="material-icons pass_hide_icons" *ngIf="oldpass" (click)="oldPass('show')">visibility</span>
                <span class="material-icons pass_hide_icons" *ngIf="!oldpass" (click)="oldPass('hide')">visibility_off</span>            
            </div> -->
            <div class="form-group mb-4">
              <label class="font-500 text-dark font-18" for="exampleInputPassword1">New Password</label>
              <input [type]="newpassType" class="form-control p-3" id="exampleInputPassword2" formControlName="password" 
              (blur)="validateFormField('password')" placeholder="Enter Your Password">
              <span class="material-icons pass_hide_icons" *ngIf="newpass" (click)="newPass('show')">visibility</span>
              <span class="material-icons pass_hide_icons" *ngIf="!newpass" (click)="newPass('hide')">visibility_off</span>            
              <!-- <span class="text_danger" *ngIf="chgPass.controls.newPassword.touched && chgPass.controls.newPassword.invalid">Password should be upto 8 characters</span> -->
            </div>
            <div class="form-group mb-4">
                <label class="font-500 text-dark font-18" for="exampleInputPassword1">Confirm Password</label>
                <input [type]="confirmpassType" class="form-control p-3" id="exampleInputPassword3" formControlName="confirmPassword" 
                (blur)="validateFormField('confirmPassword')" placeholder="Enter Your Password">
                <span class="material-icons pass_hide_icons" *ngIf="confirmpass" (click)="confirmPass('show')">visibility</span>
                <span class="material-icons pass_hide_icons" *ngIf="!confirmpass" (click)="confirmPass('hide')">visibility_off</span>            
              </div>

            <div class="d-inline-block text-center w-100 py-3">
              <button type="submit" class="btn btn-theme px-5 w-50 py-3 font-18" [disabled]="!changePassword.valid">
                Change Password</button>
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

