 <!-- <app-signin [imageAddress]="'assets/images/login_supp_img.png'" [heading]="'Welcome'"></app-signin>  -->
 <!-- <app-signup [imageAddress]="'assets/images/sign_up_supp_img.png'" [heading]="'Let\'s Get Started'"></app-signup>  -->

<!-- <app-supplier-home [imageAddress]="'assets/images/dash_img.png'"  [heading]="''"></app-supplier-home> -->
<!--<app-upload-product-catalogue [imageAddress]="'assets/images/login_supp_img.png'"  [heading]="'Upload Product Catalogue'"></app-upload-product-catalogue>-->
<!-- <app-supplier-dashboard-home [imageAddress]="'assets/images/dash_img.png'"  [heading]="''"></app-supplier-dashboard-home> -->
<!-- <app-payments></app-payments> -->
<!-- <app-catalogue-status></app-catalogue-status> -->
<!-- <app-catalogue-id></app-catalogue-id> -->
<!-- <app-rating-review></app-rating-review> -->
<!-- <app-quality-scorecard></app-quality-scorecard> -->
<!-- <app-exchange-return></app-exchange-return> -->
<!-- <app-contact-us [imageAddress]="'assets/images/login_supp_img.png'" [heading]="'Contact Us'"></app-contact-us> -->
<!-- <app-catalogue-list></app-catalogue-list> -->
<!-- <app-catalogue-specification></app-catalogue-specification> -->

<!-- <app-profile-info></app-profile-info> -->

<!-- <app-select-profile [imageAddress]="'assets/images/login_supp_img.png'" [heading]="'Welcome'"></app-select-profile> -->

<!-- <app-kam-login [imageAddress]="'assets/images/login_supp_img.png'" [heading]="'Welcome'"></app-kam-login> -->
<!-- <app-kam-home  [imageAddress]="'assets/images/login_supp_img.png'" [heading]="''"></app-kam-home> -->
<!-- <app-register-new-supplier [imageAddress]="'assets/images/login_supp_img.png'" [heading]="''"></app-register-new-supplier> -->
<!-- <app-view-supplier-details></app-view-supplier-details> -->
<!-- <app-view-supplier-profile></app-view-supplier-profile> -->
<!-- <app-edit-supplier-profile></app-edit-supplier-profile> -->
<!-- <app-view-supplier-sales-details></app-view-supplier-sales-details> -->
<!-- <app-view-supplier-sales-table></app-view-supplier-sales-table> -->

<router-outlet></router-outlet>


