
<!-- Dashboard -->

<!-- Image and text -->
<app-supplier-navbar></app-supplier-navbar>

<section class="dashboard_sec">
  <div class="container-fluid ">
    <div class="row mx-0">
      <div class="col-lg-12">
        <div class="main_title_dv d-inline-block pt-5 pb-4 w-100 px-3">
          <h1 class="font-700 mb-4 text-dark title_main position-relative d-inline-block">
            Exchange/Return
          </h1>
        </div>
        <div class="col-lg-12">
          <form class="select_dt_form_sec_list row mx-0">            
            <div class="form-group mb-4 col-lg-9 col-md-10 col-sm-12 pl-0">
              <label class="font-500 text-dark w-100 font-18">Select Date Range</label>
              <div class="row mx-0">
                <div class="col-lg-4 pl-0 pr-2">
                  <input type="date" class="form-control p-3">
                </div>
                <div class="col-lg-3 pr-0 pl-2">
                  <button type="submit" class="btn btn-theme w-100 px-2 w-50 py-3 font-16">View Exchanged</button>
                </div>
                <div class="col-lg-3 pr-0 pl-2">
                  <button type="submit" class="btn btn-theme w-100 px-2 w-50 py-3 font-16">View Returned</button>
                </div>
              </div>              
            </div>
          </form>
          <table class="table table-bordered all_list_info_table">
            <thead>
              <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">SKU Number</th>
                <th scope="col">Order ID</th>
                <th scope="col">Date Shipped</th>
                <th scope="col">Exchange Or Return Date</th>
                <th scope="col">Product Type</th>
                <th scope="col">Penalty</th>
                <th scope="col">Penalty Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard End -->
