<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- logo -->
    <link rel="icon" type="image/png" href="images/fav_icon.png"/>

    <title>Yaari Supplier</title>

    <!-- Material Icons -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->

    <!-- Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

  </head>
<body>

<!-- Dashboard -->

<!-- Image and text -->
<app-supplier-navbar></app-supplier-navbar>

<section class="dashboard_sec">
  <div class="container-fluid ">
    <div class="row mx-0">
      <div class="col-lg-12">
        <div class="main_title_dv d-inline-block pt-5 pb-4 w-100 px-3">
          <h1 class="font-700 mb-4 text-dark title_main position-relative d-inline-block">
            Upload Product Specifications
          </h1>
        </div>
        <h5 class="font-600 text-dark px-3 mb-5">
          <div class="mat-title">
            Catalogue 1
          </div>
        </h5>
        <div class="col-lg-12">
          <table class="table table-bordered mb-4 all_list_info_table">
            <thead>
              <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">Item</th>
                <th scope="col">Occasion</th>
                <th scope="col">Neck pattern</th>
                <th scope="col">Sleeve pattern</th>
                <th scope="col">Length</th>
                <th scope="col">Hemline</th>
                <th scope="col">Next Day Dispatch</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td class="text-center">
                  <input type="checkbox" class="checkbox_custom_bg_on_tbl" />
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td class="text-center">
                  <input type="checkbox" class="checkbox_custom_bg_on_tbl" />
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td class="text-center">
                  <input type="checkbox" class="checkbox_custom_bg_on_tbl" />
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td class="text-center">
                  <input type="checkbox" class="checkbox_custom_bg_on_tbl" />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-inline-block text-center py-3 w-100">
            <button type="submit" class="btn-theme font-500 font-18 px-5 py-3">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard End -->

</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- ////////// Owl Slider JS ////// -->
<script src="assets/js/owl.carousel.min.js"></script>

</html>