
<!-- Dashboard -->

<app-sub-supplier-navbar></app-sub-supplier-navbar>

<section class="dashboard_sec">
  <div class="container-fluid ">
    <div class="row mx-0">
      <div class="col-lg-12">
        <div class="main_title_dv d-inline-block pt-5 pb-4 w-100 px-0">
          <h1 class="font-700 mb-4 text-dark w-75 title_main position-relative d-inline-block float-left mat-display-2">
            View Supplier Sales Details
          </h1>
        </div>
      </div>
      <div class="col-lg-12 mt-4">
        <table class="table table-bordered all_list_info_table">
            <thead>
              <tr>
                <th scope="col">Uploaded Catalogue ID</th>
                <th scope="col">SKU ID</th>
                <th scope="col">Audit Status</th>
                <th scope="col">No of Sale (QTY)</th>
                <th scope="col">No. Of Returns</th>
                <th scope="col">No. of Exchanges</th>
                <th scope="col">Final Sales</th>
                <th scope="col">Total Sale Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">XYZ-3456</th>
                <td>12548</td>
                <td>Completed</td>
                <td>100</td>
                <td>5</td>
                <td>1</td>
                <td>94</td>
                <td>₹15000</td>
              </tr>
              <tr>
                <th scope="row">XYZ-3456</th>
                <td>12548</td>
                <td>Completed</td>
                <td>100</td>
                <td>5</td>
                <td>1</td>
                <td>94</td>
                <td>₹15000</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard End -->
