
<!-- Dashboard -->

<!-- Image and text -->
<app-sub-supplier-navbar></app-sub-supplier-navbar>

<section class="dashboard_sec">
  <div class="container-fluid ">
    <div class="row mx-0">
      <div class="col-lg-12">
        <div class="main_title_dv d-inline-block pt-5 pb-4 w-100 px-0">
          <h1 class="font-700 mb-4 text-dark w-75 title_main position-relative d-inline-block float-left">
            View Supplier Sales Details
          </h1>
          <div class="all_srch_by_info_main w-25 float-right position-relative">
            <input type="text" placeholder="Search by Name or ID" class="p-3">
            <a href="javascript:void(0)" class="btn-theme py-3 px-4 d-flex justify-content-center align-items-center">
              <span class="material-icons">search</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <h4 class="font-600 pb-2 w-100 mb-5 border-bottom-dark text-dark position-relative d-inline-block">
          Recently Viewed Supplier ID
        </h4>
        <div class="all_sel_by_info_main w-100">
          <ul class="list-group p-0 mb-5 all_sel_by_info_main_ul">
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="view_edit_supp_sales_detail_pg.html" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <h4 class="font-600 pb-2 w-100 mb-5 border-bottom-dark text-dark position-relative d-inline-block">
          Select Supplier ID
        </h4>
        <div class="all_sel_by_info_main w-100">
          <ul class="list-group p-0 mb-5 all_sel_by_info_main_ul">
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item mb-4">
              <div class="row mx-0">
                <div class="col-lg-8 px-2">
                  <span class="font-500 font-22 text-dark">
                    ABC-12345
                  </span>
                </div>
                <div class="col-lg-4 float-right ml-auto px-2 my-auto">
                  <div class="float-right">
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      Edit
                    </a>
                    <a href="#" class="text-primary font-16 px-3 py-2 font-500">
                      View
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard End -->
